@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap%27");


body {
    font-family: 'poppins', sans-serif;
    min-height: 100vh;
    background: url('../assets/amigo.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-card {
    width: 350px;
    background: rgba(255, 255, 255, .6);
    padding: 4rem;
    border-radius: 10px;
    position: relative;
}

.register-card::before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, .15);
    border-radius: 5px;
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
}

.register-card-header,
.register-card-footer {
    text-align: center;
}

.register-card a {
    text-decoration: none;
    color: #333399;
}

.register-card a:hover {
    text-decoration: underline;
}

.register-card-header {
    margin-bottom: 2rem;
}

.register-card-header h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.register-card-header h1+div {
    font-size: calc(1rem*.8);
    opacity: .8;
}

.register-card-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.register-card-form .form-item {
    position: relative;
}

.register-card-form .form-item {
    position: absolute;
    top: .80rem;
    left: 1.5rem;
    font-size: 1.3rem;
    opacity: .4;
}

.register-card-form .checkbox {
    display: flex;
    align-items: center;
    gap: 7px;
}

.register-card-form .form-item-other {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1rem*.8);
    margin-bottom: .5rem;
}

.register-card input[type="text"],
.register-card input[type="password"],
.register-card input[type="email"] {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .3);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem*1.5);
    border-radius: 100px;
    width: 100%;
    transition: background .5s;

}

.register-card input:focus {
    background: white;
}

.register-card input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: black;

}

.register-card-form button {
    background: orange;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
}

.register-card-form button:hover {
    background: rgba(0, 0, 0, .85);
    cursor: pointer;
}

.submit-message{
    color:green;
    font-weight: bolder;
    
}
.error-message{
    color:red;
    font-weight: bolder;
    
}

@media (max-width: 720px) {
    body {
        padding: 2rem 0;
    }

    .register-card {
        width: 300px;
        padding: 2rem;
    }
}